.cameo{
    font-family: "nitti-typewriter-cameo", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.origin-popup{
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.origin-popup-inner {
    padding: 15px 8px;
    position: relative;
    width: 400px;
    background-color: #020202;

  }

.origin-popup-inner .close-btn {
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 200px;
    height:50px;
    background-color: #404653;
    border-width: 1px;
    border-color: black;
    color: white;
    font-size: 22px;
}

.origin-popup-inner .select-btn {
    position: absolute;
    bottom: 0px;
    right:0px;
    width: 200px;
    height:50px;
    background-color: #404653;
    border-width: 1px;
    border-color: black;
    color: white;
    font-size: 22px;
}