.specialist-class-popup{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialist-class-popup-inner {
    position: relative;
    width: 1400px;
    height: 930px;
    background-color: #171819;
    overflow-y: auto;
  }

.specialist-class-popup-inner .close-btn {
    bottom: 0px;
    left:0px;
    width: 700px;
    height:50px;
    background-color: #404653;
    border-width: 1px;
    border-color: black;
    color: white;
    font-size: 22px;
}

.specialist tr:nth-child(even) {
    background-color: #0f1216;
  }
.specialist tr {
    height: 25px;
}

.specialist td:nth-child(even) {
    text-align: left;
    padding-left: 40px;
}

.specialist th:nth-child(even) {
    text-align: left;
    padding-left: 40px;
}

.specialist td {
    padding-left: 10px;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.specialist-class-popup-inner::-webkit-scrollbar {
    display: none;
  }

.cameo{
font-family: "nitti-typewriter-cameo", sans-serif;
font-weight: 700;
font-style: normal;
}